*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-header {
    background-image: url(../public/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
}

/* ================= GATHER INFO ================= */

.gather-info {
    height: 95vh;
    background-color: #282c34ee;
    padding: 0 40px;
    border-radius: 50px;
}

.form {
    height: 90vh;
    margin-top: 30px;
}

form {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-item {
    display: flex;
    justify-content: center;
}

input {
    margin-right: 10px;
}

.submit-btn {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 0.75em;
}

/* ================= SHOW WHEATHER ================= */

.update-btn {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 0.6em;
}







/* ================= MEDIA ================= */

@media only screen and (max-width: 500px) {
  .gather-info {
    height: 100vh;
    border-radius: 0;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: .8em;
  }
}